version: "3.9"

services:

  db:
    image: postgres:15
    container_name: starter-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: starterdb
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

  artemis:
    image: apache/activemq-artemis:latest
    container_name: artemis-broker
    environment:
      - ARTEMIS_USERNAME=admin_MOH123
      - ARTEMIS_PASSWORD=admin_MOH123
      - ANONYMOUS_LOGIN=true
    ports:
      - "8161:8161"   # Console web
      - "61616:61616" # Port JMS
    volumes:
      - artemisdata:/var/lib/artemis-instance

volumes:
  dbdata:
  artemisdata:
