version: "3.9"

services:
  db:
    image: postgres:15
    container_name: starter-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: starterdb
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

  artemis:
    image: apache/activemq-artemis:latest
    container_name: artemis-broker
    environment:
      - ARTEMIS_USER=adminMOH123
      - ARTEMIS_PASSWORD=adminMOH123
      - ANONYMOUS_LOGIN=true
    ports:
      - "127.0.0.1:62010:61616"
      - "127.0.0.1:8161:8161"
    volumes:
      - artemisdata:/var/lib/artemis-instance

  app:
    build: .
    container_name: parfumerie-app
    ports:
      - "8080:8080"
    depends_on:
      - db
      - artemis
    restart: unless-stopped

volumes:
  dbdata:
  artemisdata:
